.app {
  height: 100vh;
  overflow: scroll;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  height: 100%;
}

.header-container {
  padding-top: 30px;
}

.footer-container {
  padding-bottom: 30px;
}